# PA005: High Value Custumer Identification (Insiders)

## Ciclo 1 - Métricas de Validação de Clusters

1. Feature Engeneering
  - Recência
  - Frequência
  - Monitary

2. Métricas de validação de Clusterização
  - WSS (Within-Cluster Sum of Square)
  - SS (Silhouette Score)

3. Cluster Analysis
  - Plot 3D
  - Cluster Profile

## Ciclo 2 - Análise de Silhouette

1. Feature Engeneering
  - Ticket Médio

2. Análise de Silhouette
  - Silhouette Analysis

3. Cluster Validation
  - UMAP

4. Cluster Análise de Perfil
  - Descrição dos centróisdes dos clusters

## Ciclo 3 - Statistical Descriptive

1. Análise Descritiva
  - Atributos numéricos
  - Atributos categóricos

2. Features Engeneering
  - Recência média
  - Número de Retornos (Devoluções)

3. Data Preparation (Encoding)
  - Standard Scaler and MinMaxScaler

# 0.0 Planejamento da solução (IOT)

### Input - Entrada

1. Problema de Negócio
  - Selecionar os clientes mais valiosos para integrar um programa de fidelização
2. Conjunto de dados
  - Vendas de um Ecommerce Online, durante o período de um ano.

### Output - Saída

1. Indicação das pessoas que farão parte do programa Insiders
  - Lista: client_id | is_insider

2. Relatório com as respostas das perguntas de negócio.
  - Quem são as pessoas elegíveis para participar do programa de Insiders?
  - Quantos clientes farão parte do grupo?
  - Quais as principais características desse clientes?
  - Qual a porcentagem de contribuição do faturamento desses clientes, vinda do Insiders?
  - Qual a expectativa de faturamento desse grupo para os próximos meses?
  - Quais as condições para uma pessoa ser elegível ao Insiders?
  - Quais as condições para uma pessoa ser removida do Insiders?
  - Qual a garantia que o programa Insiders é melhor que o restante da base?
  - Quais ações o time de marketing pode realizar para aumentar o faturamento?

### Tasks - Tarefas

1. Quem são as pessoas elegíveis para participar do programa de Insiders?
  - O que é ser elegível? O que são clientes de maior "valor"?
  - Faturamento:
    - Alto Ticket Médio
    - Alto LTV (Life Time Value - Gasto durante seu período de vida na empresa)
    - Baixo Recência
    - Alto basket size (tamanho da cesta de compra)
    - Baixa probabilidade de churn (parou de comprar)
    - Alta previsão LTV
    - Alta previsão de compra

  - Custo
    - Baixa taxa de devolução

  - Experiência de Compra
    - Média alta das avaliações

2. Quantos clientes farão parte do grupo?
  - Número total de clientes
  - Calcula a % do grupo Insiders

3. Quais as principais características desse clientes?
  - Escrever características do cliente
    - Idade
    - Localização
    
  - Ecrever características de consumo
    - Atributos da clusterização (perfil de compra do cliente)

4. Qual a porcentagem de contribuição do faturamento desses clientes, vinda do Insiders?
  - Faturamento total do ano
  - Faturamento do grupo Insiders

5. Qual a expectativa de faturamento desse grupo para os próximos meses?
  - LTV do grupo Insiders
  - Análise de Cohort (Marcação da pessoa, como por exemplo no tempo, perfil de pessoas que entraram no mesmo mês)

6. Quais as condições para uma pessoa ser elegível ao Insiders?
  - Definir a periodicidade (recorrência de rodar o modelo)
  - A pessoa precisa ser similar ou parecida com uma pessoa do grupo

7. Quais as condições para uma pessoa ser removida do Insiders?
  - Definir a periodicidade (recorrência de rodar o modelo)
  - A pessoa precisa ser disimilar ou s distanciar das médias do grupo

8. Qual a garantia que o programa Insiders é melhor que o restante da base?
  - Teste A/B
  - Teste A/B Baysiano
  - Teste de hipóteses
  
9. Quais ações o time de marketing pode realizar para aumentar o faturamento?
  - Desconto
  - Preferência de compra
  - Frete
  - Visita a empresa

## Benchmark de soluções

### 1. Desk Research - Pesquisa de soluções das outras empresas

- Modelo RFM
  1. Recência
    a. Tempo desde a última compra
    b. Responsividade

  2. Frequência
    a. Quantidade de compras em um período
    b. Engajamento

  3. Monetária
    a. Total gasto, faturamento
    b. Alto valor de compra

1. Passo 01:
  - Ordernar os clientes por Recência

2. Passo 02:
  - Dividir a base de clientes de acordo com as notas
    - Notas de 1 - 5 (5 notas possíveis)
    - Divide a base de clientes em 5 grupos de 20% cada
    - Quanto menor o valor, maior nota
  - Essa nota se chama R Score

3. Passo 03:
  - Ordernar is clientes pela Frequência

4. Passo 04:
  - Dar as notas de maneira similar ao passo 02
  - Essa nota se chama F Score
  - Quanto maior o valor, maior a nota

5. Passo 05:
  - Ordenar pelo monetário (faturamento)

6. Passo 06:
  - Dar as notas de maneira similar ao passo 02 e 04
  - Essa nota de chama M Score
  - Quanto maior o valor, maior a nota

7. Passo 07:7
  - Calcular a média das notas R,F,M
  - RFM Score (pode ordenar por essa média para ter os melhores clientes)

Definições que podem ser usadas para dividir os clientes com o RFM e assim direcionar esse clientes para as melhores ações

1. Champions
  - Compra recentes, frequentes com alto valor gasto
  - Prêmios para esses clientes

2. Potential Loyalists
  - Compras recentes, boa frequência e bom valor gasto
  - Programa de Fidelização e Upsell

3. New Custumers
  - Compra recente, baixa frequência
  - Construção de Relacionamento, ofertas especiais

4. At Risk Custumers
  - "Faz tempo que não compra"
  - Campanhas de reativação, ofertas, produtos

5. Can't Lose Them
  - Faz tempo que não compra e não viita o site

Com isso, você consegue entender:

1. Quem são seus melhores clientes?

2. Quais clientes estão próximos do Churn?

3. Quais os potenciais clientes para entrar no programa de Fidelização?

4. Quais clientes precisam ser retidos?

5. Quais clientes mais prováveis de responder as campanhas de marketing?

# <font color = "red"> 0.0 Início do Projeto </font>

## 0.1 Imports

In [1]:
import warnings

import pandas     as pd
import numpy      as np
import seaborn    as sns
import umap.umap_ as umap
import re


from yellowbrick.cluster   import KElbowVisualizer
from yellowbrick.cluster   import SilhouetteVisualizer
from IPython.display       import Image
from IPython.core.display  import HTML
from ydata_profiling       import ProfileReport

from matplotlib            import pyplot  as plt
from sklearn               import cluster as c
from sklearn               import metrics as m
from sklearn               import preprocessing as pp
from sklearn.metrics       import silhouette_score
from plotly                import express as px
from sklearn               import decomposition as dd
from sklearn               import ensemble as en
from sklearn.manifold      import  TSNE 
from pathlib               import Path


warnings.filterwarnings( 'ignore' )

c:\Users\bruno.freitas\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## 0.2 Helper Functions

In [2]:
def jupyter_settings():
    """Definições padrões setadas para o uso o Jupyter Notebook."""
    %matplotlib inline
    %pylab inline
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 24
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    sns.set()

#Executando a função
jupyter_settings();

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

## 0.3 Load Dataset

In [3]:
#load dat
df_raw = pd.read_csv('../data/Ecommerce/Ecommerce.csv',encoding='unicode_escape')

#drop extra column
df_raw = df_raw.drop(columns=['Unnamed: 8'],axis=1)

In [4]:
df_raw.head()

  InvoiceNo StockCode                          Description  Quantity InvoiceDate  UnitPrice  CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6   29-Nov-16       2.55     17850.0  United Kingdom
1    536365     71053                  WHITE METAL LANTERN         6   29-Nov-16       3.39     17850.0  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8   29-Nov-16       2.75     17850.0  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6   29-Nov-16       3.39     17850.0  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6   29-Nov-16       3.39     17850.0  United Kingdom

# <font color = "red"> 1.0 Descrição dos dados </font>

In [5]:
df1 = df_raw.copy()

## 1.1 Rename Columns

In [6]:
cols_new = ['invoice_no','stock_code','description','quantity','invoice_date','unit_price','customer_id','country']
df1.columns = cols_new

In [7]:
df1.columns

Index(['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date',
       'unit_price', 'customer_id', 'country'],
      dtype='object')

## 1.2 Data Dimensions

In [8]:
print(f'Number of rows: {df1.shape[0]}')
print(f'Number of cols: {df1.shape[1]}')

Number of rows: 541909
Number of cols: 8

## 1.3 Data Types

In [9]:
df1.dtypes

invoice_no       object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
customer_id     float64
country          object
dtype: object

## 1.4 Check NA

In [10]:
df1.isna().sum()

invoice_no           0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
customer_id     135080
country              0
dtype: int64

## 1.5 Replace NA

In [11]:
# Separando os dados com e sem valores faltantes na coluna customer_id
df_missing = df1.loc[df1['customer_id'].isna(),:] #Faltando customer
df_not_missing = df1.loc[~df1['customer_id'].isna(),:]
# df_missing.head()

In [12]:
df_missing.shape, df_not_missing.shape

((135080, 8), (406829, 8))

In [13]:
# Removemos linhas com invoice_no duplicados em df_not_missing
missing_invoice = df_missing['invoice_no'].drop_duplicates().tolist()
df_not_missing.loc[df_not_missing['invoice_no'].isin(missing_invoice),:].head()

Empty DataFrame
Columns: [invoice_no, stock_code, description, quantity, invoice_date, unit_price, customer_id, country]
Index: []

Esses clientes podem nao ser identificados, por não ter o número de identificador, vamos entrão criar uma identificação para ele, atavés dos invoices no, dessa forma, cada compra diferente seria de um cliente diferente, não da para saber se o mesmo clientes que comprou, pois a priori ele não tem identificação.

Fazendo isso não teria como selecionar esses clientes para o grupo de Insiders, mas também não é interessante perder esses dados, pois, por mais que esses clientes não possam ser selecionados, eles ainda apresentam um comportamento de compras e isso pode influenciar na EDA e na criação de features.

Assim, usando esse dados, eu ganho mais informações para fazer a clusterização e na hora de entregar os clusters eu retiro esses clientes não identificados

In [14]:
# Criando um novo customer_id para os invoices que estão sem customer_id
df_ni_invoice = pd.DataFrame(df_missing['invoice_no'].drop_duplicates())
df_ni_invoice['customer_id'] = np.arange(19000,19000+len(df_ni_invoice),1)

# Fazendo o merge para juntar os dados
df1 = pd.merge(df1,df_ni_invoice,on='invoice_no',how='left')


# Combinando os customer_id
df1['customer_id'] = df1['customer_id_x'].combine_first(df1['customer_id_y'])
df1 = df1.drop(columns=['customer_id_x','customer_id_y'],axis=1)

In [15]:
#Checando se os NA foram realmente removidos
df1.isna().sum()

invoice_no         0
stock_code         0
description     1454
quantity           0
invoice_date       0
unit_price         0
country            0
customer_id        0
dtype: int64

## 1.6 Change dtypes

In [16]:
#invoice date
df1['invoice_date'] = pd.to_datetime(df1['invoice_date'],format='%d-%b-%y')

#customer_id
df1['customer_id'] = df1['customer_id'].astype('int64')

In [17]:
#Mostrando a mudança dos tupos
df1.dtypes

invoice_no              object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
country                 object
customer_id              int64
dtype: object

## 1.7 Descriptive Statistics

In [18]:
num_att = df1.select_dtypes(include=['int64','float64'])
cat_att = df1.select_dtypes(exclude=['int64','float64','datetime64[ns]'])

### 1.7.1 Numerical Attributes

In [19]:
#central tendency - média e mediana
ct1 = pd.DataFrame(num_att.apply(np.mean)).T
ct2 = pd.DataFrame(num_att.apply(np.median)).T

#dispersion - desvio padrão, mínimo, máximo, range, skew e kurtosis
d1 = pd.DataFrame(num_att.apply(np.std)).T
d2 = pd.DataFrame(num_att.apply(np.min)).T
d3 = pd.DataFrame(num_att.apply(np.max)).T
d4 = pd.DataFrame(num_att.apply(lambda x: x.max() - x.min())).T
d5 = pd.DataFrame(num_att.apply(lambda x: x.skew())).T
d6 = pd.DataFrame(num_att.apply(lambda x: x.kurtosis())).T

#concatenate
m = pd.concat([d2,d3,d4,ct1,ct2,d1,d5,d6]).T.reset_index()
m.columns = ['attributes','min','max','range','mean','median','std','skew','kurtosis']
m

    attributes       min      max      range          mean    median          std        skew       kurtosis
0     quantity -80995.00  80995.0  161990.00      9.552250      3.00   218.080957   -0.264076  119769.160031
1   unit_price -11062.06  38970.0   50032.06      4.611114      2.08    96.759764  186.506972   59005.719097
2  customer_id  12346.00  22709.0   10363.00  16688.840453  16249.00  2911.408666    0.487449      -0.804287

### <font color = 'red'>1.7.1.1 Numerical Attributes - Investigating </font>

1. Quantidade tem valores negativos - Pode ser referente a devoluções

2. Preço unitário igual a 0 (pode ser promoção?)

### 1.7.2 Categorical Attributes

#### Invoice No

In [20]:
#Problema - Temos Invoice com letras e números
#identificação
index = cat_att['invoice_no'].apply(lambda x: bool(re.search('[^0-9]+',x)))
invoice_no_le = df1.loc[df1['invoice_no'].apply(lambda x: bool(re.search('[^0-9]+',x))),:]
linhas_c_letras = invoice_no_le.loc[:,'invoice_no'].count()
linhas_c_letras_e_negativas = invoice_no_le.loc[invoice_no_le['quantity'] < 0,'invoice_no'].count()

print(f'Há {linhas_c_letras} Invoice No com letras e {linhas_c_letras_e_negativas} tem quantidade negativa {(linhas_c_letras_e_negativas/linhas_c_letras)*100}%')
print(f'Todos os Invoices No com letras tem quantidades negativas, podendo ser cancelamentos ou devoluções')

Há 9291 Invoice No com letras e 9288 tem quantidade negativa 99.96771068776235%
Todos os Invoices No com letras tem quantidades negativas, podendo ser cancelamentos ou devoluções

#### Stock Code

In [21]:
#O Stock Code pode ser letras normalmente, mas quantos tem apenas letras?
#Regex seleciona apenas letras do começo ao fim
stock_code_le3 = df1.loc[df1['stock_code'].apply(lambda x: bool(re.search('^[a-zA-Z]+$',x))),'stock_code'].count()
stock_code_le3
print(f'Stock Code just with letters:{stock_code_le3} e as letras são:')
cat_att.loc[cat_att['stock_code'].apply(lambda x: bool(re.search('^[a-zA-Z]+$',x))),'stock_code'].unique()

#Ação
##Queremos ver stock code só com letras -  'POST', 'D', 'M', 'PADS', 'DOT', 'CRUK'

Stock Code just with letters:2759 e as letras são:

array(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK'], dtype=object)

#### Description

In [22]:
# A descrição não tem algo muito relevante para ajudar a escolher os melhores clientes
# Ação
# Deletar a coluna  de descrição

df1.description.value_counts().head()

description
WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
Name: count, dtype: int64

#### Country

In [23]:
df1.country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [24]:
df1.country.value_counts(normalize=True).head()*100
# Possivelmente será dropada depois, pois ela agrupa muitos dados, e na clusterização preciso de features com alta 
# variancia nos dados

country
United Kingdom    91.431956
Germany            1.752139
France             1.579047
EIRE               1.512431
Spain              0.467422
Name: proportion, dtype: float64

In [25]:
df1.loc[:,['customer_id','country']].groupby('country').nunique().reset_index().sort_values(by='customer_id',ascending=False).head()

           country  customer_id
36  United Kingdom         7587
14         Germany           95
13          France           90
10            EIRE           44
31           Spain           31

A maioria das compras, quase 80% são de clientes do Reino Unido, e a maioria dos clietes também são de lá, mostrando assim a predominância dessa features no Reino Unido

# <font color = "red"> 2.0 Filtragem de Variáveis </font>

Filtragem de Variáveis realizada antes da Criação de Features pois as Features são em sua maioria cálculos e com isso, as sujeiras do dataset podem enviesar os resultados

In [26]:
df2 = df1.copy()

In [27]:
df2.dtypes

invoice_no              object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
country                 object
customer_id              int64
dtype: object

## Categorical and Numerical Attributes

In [28]:
# unit_price - tirando os valores igual a 0 ou muito próximo, pois são produtos que podem ser brindes ou valores 
# muito irrelevantes que não vão nos ajudar a escolher os melhores customers
df2 = df2.loc[df2['unit_price'] >= 0.04,:]

#stock_code - tirando aqueles que são apenas letras
df2 = df2[~df2['stock_code'].isin(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK'])]

#description - Não vamos usar por enquanto, pode não ser importante
df2 = df2.drop(columns=['description'], axis=1)

#country
df2 = df2[~df2['country'].isin(['European Community', 'Unspecified'])]

#quantity - Dividindo o dataset entre valores de compra e valores de desconto, podendo ser então cancelamentos ou devoluções
df2_returns = df2.loc[(df2['quantity'] < 0),:]  #devoluções
df2_purchase = df2.loc[(df2['quantity'] > 0),:]  #compras

# <font color = "red"> 3.0 Feature Engeneering </font>

In [78]:
df3 = df2.copy()

**Feature Ideais**

* Moving Average - 7d - 14d

* Quantidade de compras por mês em períodos diferentes

* Average Financial

* Basket Size Price - Preço Médio

## 3.1 Feature Creation

In [79]:
# Tabela de Referência
df_ref = df3.drop(['invoice_no','stock_code','quantity','invoice_date','unit_price','country'],axis=1).drop_duplicates(ignore_index=True)

### 3.1.1. Gross Revenue

In [80]:
# Gross Revenue (faturamento bruto)
df2_purchase.loc[:,'gross_revenue'] = df2_purchase.loc[:,'quantity'] * df2_purchase.loc[:,'unit_price']

# Monetary
df_monetary = df2_purchase.loc[:, ['customer_id','gross_revenue']].groupby('customer_id').sum().reset_index()
df_ref = pd.merge(df_ref, df_monetary,on='customer_id',how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
dtype: int64

### 3.1.2. Recency - Day from last purchase

In [81]:
# Recency
df_recency = df2_purchase.loc[:,['customer_id','invoice_date']].groupby('customer_id').max().reset_index()
df_recency['recency_days'] = (df2_purchase['invoice_date'].max() - df_recency['invoice_date']).dt.days 
df_recency = df_recency[['customer_id','recency_days']].copy()
df_ref = pd.merge(df_ref, df_recency, on='customer_id',how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
dtype: int64

### 3.1.3. Quantity of purchase

In [82]:
# Numero de produtos comprados
df_freq = df2_purchase.loc[:,['customer_id','invoice_no']].drop_duplicates().groupby('customer_id').count().reset_index()
df_ref = pd.merge(df_ref, df_freq,on='customer_id',how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
invoice_no       91
dtype: int64

### 3.1.4. Quantity of products purchase

In [83]:
# Numero de produtos comprados
df_freq = df2_purchase.loc[:,['customer_id','quantity']].drop_duplicates().groupby('customer_id').count().reset_index()
df_ref = pd.merge(df_ref, df_freq,on='customer_id',how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
invoice_no       91
quantity         91
dtype: int64

### 3.1.5. Avarege Ticket Value

In [84]:
# Ticket Médio
df_tm = df2_purchase.loc[:,['customer_id','gross_revenue']].groupby('customer_id').mean().reset_index().rename(columns={'gross_revenue' : 'avg_ticket'})
df_tm['avg_ticket'] = np.round(df_tm['avg_ticket'],2)
df_ref = pd.merge(df_ref, df_tm, on='customer_id',how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
invoice_no       91
quantity         91
avg_ticket       91
dtype: int64

### 3.1.6. Avarege Recency Days

In [85]:
# Tempo médio entre compras (em dias)
df_aux = df2_purchase.loc[:,['customer_id','invoice_no','invoice_date']].drop_duplicates().sort_values(['customer_id','invoice_no','invoice_date'],ascending=[True,True,True])
df_aux['next_customer_id'] = df_aux['customer_id'].shift() #Cria uma coluna deslocada, com se fossem os mesmos dados, uma linhas para baixo
df_aux['previous_date'] = df_aux['invoice_date'].shift()


df_aux['avg_recency_days'] = df_aux.apply(lambda x: (x['invoice_date'] - x['previous_date']).days if x['customer_id'] == x['next_customer_id'] else np.nan, axis=1)
df_aux.head()

        customer_id invoice_no invoice_date  next_customer_id previous_date  avg_recency_days
61619         12346     541431   2017-01-16               NaN           NaT               NaN
14938         12347     537626   2016-12-05           12346.0    2017-01-16               NaN
72246         12347     542237   2017-01-24           12347.0    2016-12-05              50.0
148285        12347     549222   2017-04-05           12347.0    2017-01-24              71.0
220572        12347     556201   2017-06-07           12347.0    2017-04-05              63.0

In [86]:
#df_aux.loc[df_aux['customer_id'] == 17850,:]
df_aux_calc = df_aux.drop(['invoice_date','next_customer_id','previous_date'],axis=1).dropna()
tempo_total_entre_compras = df_aux_calc.loc[:,['customer_id','avg_recency_days']].groupby('customer_id').mean().reset_index()
#df_aux2 = pd.merge(total_de_compras,tempo_total_entre_compras,on='customer_id',how='left').reset_index()
#df_aux2['avg_recency_days'] = round(df_aux2['time_between_purshases']/df_aux2['invoice_no'],2)
df_ref = pd.merge(df_ref, tempo_total_entre_compras, on='customer_id',how='left')
df_ref.isna().sum()

customer_id            0
gross_revenue         91
recency_days          91
invoice_no            91
quantity              91
avg_ticket            91
avg_recency_days    2962
dtype: int64

### 3.1.7 Frequency Purchase

In [87]:
# Frequencia de compras (número de compras por dia)
df_aux = (df2[["customer_id","invoice_no","invoice_date"]].drop_duplicates()
                                                          .groupby('customer_id')
                                                          .agg(max_ = ('invoice_date','max'),
                                                               min_ = ('invoice_date','min'),
                                                               days_ = ('invoice_date', lambda x: ((x.max() - x.min() ).days)+1),
                                                               buy_ = ('invoice_no','count'))).reset_index()

#Frequency per client
df_aux['frequency'] = df_aux.loc[:,['buy_','days_']].apply(lambda x: x['buy_'] / x['days_'] if x['days_'] != 0 else 0,axis=1)
df_ref = pd.merge(df_ref, df_aux.loc[:,['customer_id','frequency']], on='customer_id',how='left')
df_ref.isna().sum()

customer_id            0
gross_revenue         91
recency_days          91
invoice_no            91
quantity              91
avg_ticket            91
avg_recency_days    2962
frequency              0
dtype: int64

### 3.1.7. Number of Returns

In [88]:
# Número de devoluções
df_returns = df2_returns[['customer_id','quantity']].groupby('customer_id').sum().reset_index().rename(columns={'quantity':'qtd_returns'})
df_returns['qtd_returns'] = df_returns['qtd_returns'].abs()

df_ref = pd.merge(df_ref, df_returns, on='customer_id',how='left')
df_ref.loc[df_ref['qtd_returns'].isna(), 'qtd_returns'] = 0
df_ref.isna().sum()

customer_id            0
gross_revenue         91
recency_days          91
invoice_no            91
quantity              91
avg_ticket            91
avg_recency_days    2962
frequency              0
qtd_returns            0
dtype: int64

### 3.1.8. Basket Size - Quantidade de Itens por Cesta (quantity)

In [ ]:
df_aux = (df2_purchase.loc[:,['customer_id','invoice_no','quantity']].groupby('customer_id')
                                                                     .agg( itens_   = ('quantity','sum'),
                                                                           compras_ = ('invoice_no','nunique'))
                                                                     .reset_index())
df_aux['avg_basket_size'] = np.round((df_aux['itens_']/df_aux['compras_']),2)
df_ref = pd.merge(df_ref, df_aux.loc[:,['customer_id','avg_basket_size']], on='customer_id',how='left')
# df_ref = pd.merge(df_ref, df_aux, on='customer_id',how='left')
df_ref.isna().sum()

customer_id            0
gross_revenue         91
recency_days          91
invoice_no            91
quantity              91
avg_ticket            91
avg_recency_days    2962
frequency              0
qtd_returns            0
avg_basket_size       91
dtype: int64

### 3.1.9 Unique Basket Size - Quantidade de produtos distintos por compra

In [91]:
df_aux = (df2_purchase.loc[:,['customer_id','invoice_no','stock_code']].groupby('customer_id')
                                                                       .agg( itens_   = ('stock_code','count'),
                                                                             compras_ = ('invoice_no','nunique'))
                                                                       .reset_index())
df_aux['avg_unique_basket_size'] = np.round((df_aux['itens_']/df_aux['compras_']),2)
df_ref = pd.merge(df_ref, df_aux.loc[:,['customer_id','avg_unique_basket_size']], on='customer_id',how='left')
# df_ref = pd.merge(df_ref, df_aux, on='customer_id',how='left')
df_ref.isna().sum()

customer_id                  0
gross_revenue               91
recency_days                91
invoice_no                  91
quantity                    91
avg_ticket                  91
avg_recency_days          2962
frequency                    0
qtd_returns                  0
avg_basket_size             91
avg_unique_basket_size      91
dtype: int64

In [92]:
df_ref.head()

   customer_id  gross_revenue  recency_days  invoice_no  quantity  avg_ticket  avg_recency_days  frequency  qtd_returns  avg_basket_size  avg_unique_basket_size
0        17850        5391.21         372.0        34.0       6.0       18.15          0.030303   0.486111         40.0            50.97                    8.74
1        13047        3232.59          56.0         9.0      11.0       18.90         39.625000   0.048780         35.0           154.44                   19.00
2        12583        6705.38           2.0        15.0      24.0       28.90         26.500000   0.045699         50.0           335.20                   15.47
3        13748         948.25          95.0         5.0       8.0       33.87         69.500000   0.017921          0.0            87.80                    5.60
4        15100         876.00         333.0         3.0       2.0      292.00         20.000000   0.136364         22.0            26.67                    1.00

# CONTINUAR (9. Aula 032 - Ciclo 06 - Análise exploratória de dados - Parte I)

# <font color = "red"> 4.0 EDA (Exploratory Data Analysis) </font>

In [ ]:
df4 = df_ref.dropna().copy()
df4.isna().sum()
#Objetivo de entender as features e seus comportamentos
#Sempre olhar os outliers, ver se é realmente isso

## 4.1. Análise Univariada

Feita para **tirar sujeiras** e ver se o que está **indo para o modelo está desenvolvido corretamente** (correto e coerente)

Dá uma ideia de como as variáveis estão no momento

**Embeding**: Espaço diferente do original, que pode ser mais organizado, onde rodamos o algoritmo em cima desse espaço mais organizado.

"Basicamente é uma Feature Engennering que transforma a feature e auxilia na organização dos dados.

In [ ]:
# Salvando o relatório
out_dir = Path("insiders_loyalty_program") / "reports"
out_dir.mkdir(parents=True, exist_ok=True)  # garante a pasta

out_file = out_dir / "report_v1.html"

profile = ProfileReport(df4)
profile.to_file(out_file)

O que olhamos no report relacionado com o problema de clusterização?
1. Clusters Coesos - Separados
2. Tipo do Cluster Varia de Acordo com o modelo de negócio - No modelo atual é mais difícil encontrar o clusters separados - As compras tem várias faixas de preço e muito próximas
  Assim, para a clusterização procuramos colunas com variabilidade
  Métricas que indicam isso:
  - Min, Max, Range (Dispersão)
  - Média e Mediana (Se forem iguais, não tem outliers)
  - Desvio Padrão e Variância (Um desvio padrão alto significa que na média os meus pontos estão distantes do centro, se for baixo, eles estão próximos)
  - Coeficiente de Variação (Desvio padrão / Média - Se tem um valor menor, significa que ele tem a chance maior de ter um retorno próximo a média) - Isso pode ser usado com colunas diferentes e comparar elas com relação a variação
  - Distribuição

**NOTAS**

Kurtosis - Quanto maior o valor, mais pontudo é a distribuição, se for próxima de uma normal ou for uniforme, o valor é menor.
Concentração de pontos em uma área
Skewness - O quão deslocada essa ponta é com relação a madiana

**NOTAS ANALISE UNIVARIADA**

Analisar ao perceber que o maior valor é muito diferente do segundo maior valor.

### 4.1.1 Gross Revenue

In [ ]:
df4.loc[df4['gross_revenue'] >= 279138.02, :]

In [ ]:
sns.histplot(df4['gross_revenue'], binwidth=7)

### 4.1.2. Quantidade de Itens

In [ ]:
df4.loc[df4['qtde_itens'] >= 196844, :]

### 4.1.3. Quantidade de Produtos

In [ ]:
df4.loc[df4['qtde_products'] >= 7838,:]

### 4.1.4. Avg Ticket

In [ ]:
df4.loc[df4['avg_ticket'] >= 56157.5,:]

In [ ]:
df3.loc[df3['customer_id'] == 16446,:]

# Esse cliente devolveu quase tudo que comprou
# Alternativas:
# Será que não vale a pena repensar e não dividir o dataset entre: 
# compras e devoluções e deixar eles se anularem para que as compras dos clientes façam sentido em questão de saldo final????

In [ ]:
df4.describe()

## 4.2 Bivariate Analysis

* **Classificação e Regressão** - Sempre a correlação entre a variável e a minha variável resposta;
* **Clusterização** - Procurar Features que juntas criem grupos que sejam coesos e distantes entre si e tirar aquelas que não formam clusters de jeito nenhum;

In [ ]:
# Principio de SVM (Support Vector Machine) - mudar o espaço das features para conseguir separar melhor 
# os dados e com isso melhorar a assertabilidade do modelo.

# Criar um novo espaço de features e treinar o modelo nele.

# Espaço de embedding das features originais para um espaço de maior dimensão

cols = ['customer_id']
df4_2 = df4.drop(columns=cols,axis=1)

In [ ]:
# Visualização das variáveis

plt.figure(figsize=(12,6))
sns.pairplot(df4_2);

## 4.3. Estudo de Espaço

In [ ]:
df43 = df4.drop(columns=['customer_id'],axis=1).copy()

In [ ]:
mm = pp.MinMaxScaler()

df43['gross_revenue'] = mm.fit_transform(df43[['gross_revenue']])
df43['recency_days'] = mm.fit_transform(df43[['recency_days']])
df43['qtde_invoices'] = mm.fit_transform(df43[['qtde_invoices']])
df43['qtde_itens'] = mm.fit_transform(df43[['qtde_itens']])
df43['qtde_products'] = mm.fit_transform(df43[['qtde_products']])
df43['avg_ticket'] = mm.fit_transform(df43[['avg_ticket']])
df43['avg_recency_days'] = mm.fit_transform(df43[['avg_recency_days']])
df43['frequency'] = mm.fit_transform(df43[['frequency']])
df43['qtde_returns'] = mm.fit_transform(df43[['qtde_returns']])
df43['basket_size'] = mm.fit_transform(df43[['basket_size']])
df43['u_basket_size'] = mm.fit_transform(df43[['u_basket_size']])

In [ ]:
X = df43.copy()
X.head()

### 4.3.1. PCA

In [ ]:
X.shape

In [ ]:
pca = dd.PCA(n_components = X.shape[1])

principal_components = pca.fit_transform(X)

# Plotando a variância acumulada para entender quantos componentes principais são necessários para explicar a maior 
# parte da variância dos dados
features = range(pca.n_components_) # Definindo o espaço do número de componentes
plt.bar(features,pca.explained_variance_ratio_,color='red')

# Componentes principais com maior variação dos dados
df_pca = pd.DataFrame(principal_components)

In [ ]:
sns.scatterplot(x=0,y=1,data=df_pca);

Aqui vemos que pelo fato dessas variáveis gerarem variação nos dados, não nos dá muitas divisões

### 4.3.2. UMAP

In [ ]:
reducer = umap.UMAP(random_state = 42)
embedding = reducer.fit_transform (X)

#embedding
df_pca['embedding_x'] = embedding[:,0]
df_pca['embedding_y'] = embedding[:,1]

#plot UMAP
sns.scatterplot(x='embedding_x', y='embedding_y',data=df_pca);

Sem muitras definições a partir disso também

### 4.3.3. t-SNE

In [ ]:
reducer = TSNE(random_state = 42,n_components = 2,n_jobs = -1)
embedding = reducer.fit_transform (X)

#embedding
df_pca['embedding_x'] = embedding[:,0]
df_pca['embedding_y'] = embedding[:,1]

#plot UMAP
sns.scatterplot(x='embedding_x', y='embedding_y',data=df_pca);

Sem muitras definições a partir disso também

### 4.3.4. Tree_Based Embedding

In [ ]:
# A ideia é definir uma feature que achamos importante, como o Gross Revenue, como a variável resposta, colocar uma árvore, 
# gerar as folhas com isso o espaço de embedding

# training dataset
cols = ['customer_id','gross_revenue']
X = df4.drop(cols,axis=1)
y = df4['gross_revenue']

In [ ]:
#model definition
rf_model = en.RandomForestRegressor(n_estimators = 100,random_state=42)

#model traing
rf_model.fit(X,y)

#Leaf
df_leaf = pd.DataFrame(rf_model.apply(X))

#Mostra a decisão de cada folha para cada cliente, mostrando a posição (index) da folha que cada costumer_id 
# caiu naquela árvore

In [ ]:
# dataframe leaf
df_leaf.head()

In [ ]:
#Aplicando o redutor de dimensionalidade
reducer = umap.UMAP(random_state = 42)
embedding = reducer.fit_transform(df_leaf) #Projeção das 100 colunas em apenas duas

#embedding
df_pca['embedding_x'] = embedding[:,0]
df_pca['embedding_y'] = embedding[:,1]

#plot UMAP
sns.scatterplot(x='embedding_x', y='embedding_y',data=df_pca);

* Não dá para explicar facilmente por que alguns clientes acabam sendo vizinhos nos clusters.

* Mesmo assim, o método cria clusters muito coerentes, baseados principalmente no gross revenue.

* Não é obrigatório reduzir para apenas 2 variáveis — pode ser 3 ou 4. Mesmo que não dê para visualizar, o espaço ainda fica bem organizado.

* Pode ser aplicado em qualquer tipo de projeto de Ciência de Dados.

* A ideia é usar uma árvore depois de criar, selecionar e preparar as features, mas antes de testar os modelos. Em vez de usar o modelo treinado para classificar, usamos as folhas geradas para criar um novo espaço (um embedding). Assim, é possível reduzir a dimensionalidade ou usar essas folhas diretamente para classificação.

* Também é possível fazer uma regressão usando esse embedding, onde o X são as folhas (df_leaf) e o y é a variável que queremos prever.

In [ ]:
df_for_test = df_pca.loc[:,['embedding_x','embedding_y']]
df_for_test.head()

# <font color = "red"> 5.0 Data Preparation </font>

In [ ]:
df5 = df4.copy()

In [ ]:
#A distribuição está muito longe da normal, mas mesmo assim iremos tentar o Standard Scaler
ss = pp.StandardScaler() #Mantem a distribuição, e apenas rescala os dados

df5['gross_revenue'] = ss.fit_transform(df5[['gross_revenue']])
df5['recency_days'] = ss.fit_transform(df5[['recency_days']])
df5['qtde_invoices'] = ss.fit_transform(df5[['qtde_invoices']])
df5['qtde_itens'] = ss.fit_transform(df5[['qtde_itens']])
df5['qtde_products'] = ss.fit_transform(df5[['qtde_products']])
df5['avg_ticket'] = ss.fit_transform(df5[['avg_ticket']])
df5['avg_recency_days'] = ss.fit_transform(df5[['avg_recency_days']])
df5['frequency'] = ss.fit_transform(df5[['frequency']])
df5['qtde_returns'] = ss.fit_transform(df5[['qtde_returns']])
df5['basket_size'] = ss.fit_transform(df5[['basket_size']])
df5['u_basket_size'] = ss.fit_transform(df5[['u_basket_size']])

In [ ]:
df5.head()

In [ ]:
sns.displot(np.log(df5['gross_revenue']),kde=True) # Exemplo de distribuição após transformação

# <font color = "red"> 6.0 Feature Selection </font>

In [ ]:
df6 = df_for_test.copy()

# <font color = "red"> 7.0 Hyperparameter Fine-Tunning </font>

In [ ]:
#df7 = df6.drop(columns=['customer_id'])
df7 = df6.copy()
clusters = [2,3,4,5,6,7,8,9,10,11,12,13,14,15]

## 7.1 Within-Cluster Sum of Square (WSS)

In [ ]:
kmeans = KElbowVisualizer(c.KMeans(),k=clusters,timings=False)
kmeans.fit(df7)
kmeans.show();

## 7.2 Silhouette Score

In [ ]:
kmeans = KElbowVisualizer(c.KMeans(),k=clusters,timings=False,metric='silhouette')
kmeans.fit(df7)
kmeans.show();

## 7.3 Silhouette Analysis

In [ ]:
fig, ax = plt.subplots(7,2,figsize = (50,36))

for k in clusters:
  km = c.KMeans(init='random',n_clusters=k,n_init=10,max_iter=100,random_state=42);
  q, mod = divmod(k,2) #2 é o mínimo
  vs = SilhouetteVisualizer(km,colors='yellowbrick',ax=ax[q-1][mod]);
  vs.fit(df7);
  vs.finalize();

#A visualização das silhetas não ficou boa pois um cluster fica muito maior que os outros

# <font color = "red"> 8.0 Model Training </font>

In [ ]:
df8 = df7.copy()

## 8.1 K-Means

In [ ]:
k=6 #definido
#model definition
kmeans = c.KMeans(init='random',n_clusters=k,n_init=10,max_iter=300,random_state=42)
#model training
kmeans.fit(df8)
#validation
labels = kmeans.labels_

## 8.2 Cluster Validation

In [ ]:
# WSS (Within-Cluster Sum of Square)
print(f'WSS value: {kmeans.inertia_}')

# SS (Silhouette Score)

print('SS value: {}'.format(silhouette_score(df8,labels,metric='euclidean')))

# <font color = "red"> 9.0 Cluster Analysis </font>

In [ ]:
df9 = df6.copy()
df9['cluster'] = labels
df9.head()

## 9.1 Visualization Inspection

In [ ]:
vs = SilhouetteVisualizer(kmeans,colors='yellowbrick');
vs.fit(df8);
vs.finalize();

In [ ]:
sns.scatterplot(x='embedding_x',y='embedding_y',data=df9,hue='cluster',palette=sns.color_palette('hls',n_colors=len(df9['cluster'].unique())));

## 9.2 2d Plot

Quais features estão bagunçando mais do que organizando os dados?

In [ ]:
df9.head()

In [ ]:
df_viz = df9.copy()
#sns.pairplot(df_viz,hue='cluster')

#Os dados estão muito embolados

## 9.3 UMAP
Abordagem por topologia

In [ ]:
#Com o encodind

reducer = umap.UMAP(random_state = 42, n_neighbors=80)
embedding = reducer.fit_transform (df8)

#embedding
df_viz['embedding_x'] = embedding[:,0]
df_viz['embedding_y'] = embedding[:,1]

#plot UMAP
sns.scatterplot(x='embedding_x', y='embedding_y',hue='cluster',palette=sns.color_palette('hls',n_colors=len(df_viz['cluster'].unique())),
                data=df_viz);

In [ ]:
#Sem o encodind

reducer = umap.UMAP(random_state = 42,n_neighbors=40)
embedding = reducer.fit_transform (df8)

#embedding
df_viz['embedding_x'] = embedding[:,0]
df_viz['embedding_y'] = embedding[:,1]

#plot UMAP
sns.scatterplot(x='embedding_x', y='embedding_y',hue='cluster',palette=sns.color_palette('hls',n_colors=len(df_viz['cluster'].unique())),
                data=df_viz);

## 9.4 Cluster Profile

In [ ]:
#Number of customer
df_cluster = df9.loc[:,['customer_id','cluster']].groupby('cluster').count().reset_index()
df_cluster['perc_customer'] = round((df_cluster['customer_id'] / df_cluster['customer_id'].sum())*100,2)

#Avg Gross revenue
df_avg_gr = df9.loc[:,['gross_revenue','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_avg_gr,how='inner',on='cluster')

#Avg recency days
df_avg_rd = df9.loc[:,['recency_days','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_avg_rd,how='inner',on='cluster')

#Avg invoice_no
df_avg_in = df9.loc[:,['invoice_no','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_avg_in,how='inner',on='cluster')
df_cluster

#Avg_ticket 
df_avg_tkt = df9.loc[:,['avg_ticket','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_avg_tkt,how='inner',on='cluster')
df_cluster

# <font color = "red"> 10.0 Deploy do Production </font>